body {
	background-color:#FFDB57;
	}
#dev_message {
	position: relative;
	font-family: 'Catamaran', sans-serif;
	font-size: 24px;
	}
/*Make sure the link isn't underlined and that the text color is black */
a:link {
	text-decoration:none;
	color: black;
	}
/* Make sure that when the user hovers over a link, it turns grey */
a:hover {
	color:#6C6C6C;
	}
/* Make sure that the color is black for the link, even when the user has already visited that specific link */
a:visited {
	color: black;
	}
/* Nav bar */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#FFDB57;
	font-family: 'Catamaran', sans serif;
	font-size: 20px;
	}
li {
	display:block;
	display:inline-block;
		}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Catamaran', sans serif;
	font-size: 20px;
	}
#menu {
	text-align:center;
	}
a.active {
	color:#4CAF50;
	}
li a:hover:not(.active) {
    color:#ff8000;
}
#welcome {
	font-family: 'Catamaran', sans serif;
	font-size: 20px;
	}
	@-moz-document url-prefix() {
	    body {
	        color: red;
	    }
	}
